<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzcpc.template.mapper.TemplateZoneMaterialMapper">
    <update id="updateSortBatch">
        UPDATE template_zone_material
        SET sort_no = CASE material_id
            <foreach collection="list" item="item">
                WHEN #{item.materialId} THEN #{item.sortNo}
            </foreach>
        END
        WHERE zone_id = #{zoneId}
          AND material_id IN
            <foreach collection="list" item="item" open="(" separator="," close=")">
                #{item.materialId}
            </foreach>
    </update>
</mapper>
